{% extends 'shared/_Layout.html' %}

{% block title %}
    <title>تغییر پسورد</title>
{% endblock %}


{% block content %}
    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-4 ">
                    <div class="login-form">
                        <form action="{% url 'account_modul:change_password' %}" method="post">
                            {% csrf_token %}
                            

                            <div class="form-group {% if form.errors %} text-danger {% endif %}">
                                {{form.verify_code}}
                                {{form.errors.verify_code}}
                            </div>

                            <div class="form-group">
                                {{form.password}}
                            </div>
                                   
                            <button type="submit">تایید</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}