{% extends 'shared/_Layout.html' %}
{% load render_partial %}
{% load static %}

{% block title %}
    <title>تغییر اطلاعات</title>
{% endblock %}


{% block content %}
    <div class="container mt-lg-5" style="direction: rtl !important;">
        <div class="row">
            
            <div class="col-md-4">
                {% render_partial 'User_Panel_Modul.views.componnent_list_group' %}
            </div>  

            <br>
            <br>

            <div class="col-md-8">
                <form action="{% url 'panel:edit_password' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <br>
                    <div class="form-group {% if form.errors %} text-danger {% endif %}">
                        {{form_data.current_password}}
                        <strong style="color: red !important;">{{form_data.errors.current_password}}</strong>
                    </div>

                    <br>
                    <div class="form-group {% if form.errors %} text-danger {% endif %}">
                        {{form_data.password}}
                        <strong style="color: red !important;">{{form_data.errors.password}}</strong>
                    </div>
                    
                    <br>
                    <div class="form-group {% if form.errors %} text-danger {% endif %}">
                        {{form_data.re_password}}
                        <strong style="color: red !important;">{{form_data.errors.re_password}}</strong>
                    </div>

                    <br>
                    <button class="btn btn-success form-control mt-2">ذخیره</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
{% endblock %}
