{% load static %}
    

  

  <link href="{% static 'New_Template/img/favicon.png' %}" rel="icon">
  <link href="{% static 'New_Template/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <link href="{% static 'New_Template/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'New_Template/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'New_Template/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'New_Template/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'New_Template/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'New_Template/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'New_Template/css/style.css' %}" rel="stylesheet">
