<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="row" style="background-color: rgb(213, 243, 243); border-radius: 15px;box-shadow: 150px;">
            <div class="col-lg-12 col-md-12" style="text-align: center;align-items: center;direction: rtl;">
                
                <div >
                    <p><span>کد رهگیری : </span>{{order.tracking_code}}</p>
                <p><span>جمع فاکتور : </span>{{order.total_invoice}}</p>
                <p><span>تاریخ پرداخت : </span>{{order.payment_date}}</p>
                </div>

            </div>
        </div>
    </div>

</body>
</html>